

/*.input:not([type=submit])*/
input:not([type=calendar]) {
    font-size: 14px;
    padding: 3px 8px;
    font-family: Consolas;
    color: var(--darker);
    border: 1px solid #666666;
    border-radius: 3px;
    outline: none;
}

input:not([type=calendar]):hover {
    border-color: #409eff;
}


.input-required-class {
    font-size: 14px;
    padding: 3px 8px;
    font-family: Consolas;
    color: var(--darker);
    background-color: #FFFF66 !important;
    border:1px solid var(--primary);
    border-radius: 3px;
}
.input-optional-class {
    font-size: 14px;
    padding: 3px 8px;
    font-family: Consolas;
    color: var(--darker);
    border: 1px solid #666666;
    border-radius: 3px;
}
.form-input-disabled {
    font-size: 14px;
    padding: 3px 8px;
    font-family: Consolas;
    color: #999999; border: 1px solid #666666;
    border-radius: 3px;
    background-color: #EEEEEE;
}

.input-focus-class {
    border-color: #409eff !important;
}

.input-warn-class {
    border-color: #f56c6c !important;
    /*background-color: #rgb(200,200,200);*/
}

.span-warn-class {
    color: #f56c6c;
    font-size: 0.75rem;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 1.5rem;
    left: 13rem;
}
.span-warn-mobile-class {
    color: #f56c6c;
    font-size: 0.75rem;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}