@font-face {
  font-family: "iconfont"; /* Project id 2082556 */
  src: url('iconfont.woff2?t=1650358746222') format('woff2'),
       url('iconfont.woff?t=1650358746222') format('woff'),
       url('iconfont.ttf?t=1650358746222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning-circle:before {
  content: "\e785";
}

.icon-menu:before {
  content: "\e60d";
}

.icon-menu1:before {
  content: "\e624";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-calendar:before {
  content: "\e7d3";
}

.icon-down:before {
  content: "\e7ed";
}

